mat-card-content{
overflow:hidden;
font-size:small;
padding:0px;
}
.mat-button{
  width:10px; 
  font-size:12px;
  margin:0px;
}

.mat-list .mat-list-item .mat-line {
  font-size: 12px;
  padding: 0px;
}
.mat-list
{
  margin:0px;
}
.full-width {
  width: 95%
}

.half-width {
  width: 45%
}

.form-size {
  width: 75%
}
.special{
  margin:18px;
  font-size:12px;
  text-decoration-color:#808080;
  padding-bottom:0px;
}
